  <article class="welcome" >
  	<% @time_sheet.each do |timesheet| %>
      <p>Username: <%= timesheet.username %></p>
      <p>Project date: <%= timesheet.year %>-<%= timesheet.month %>-<%= timesheet.day %> </p>
      <p>Hours: <%= timesheet.hours %> hours</p> 
      <p>Project: <%= timesheet.project_type %></p> 
	<% end %>
  </article>